html {
	background-color:#D2D7D3;
}
#quote-container {
	height:auto;
	width:auto;
	background-color:#FFFFFF;
}
.quoteDiv {
	border:1px solid black;
	border-radius:15px;
	height:auto;
	max-width:500px;
	margin:auto;
}
.quote {
	padding:20px;
}
.tweetButton {
	font-size:30px;
	display:inline-block;
	padding:20px;
}
.quoteButton {
	display:inline-block;
	padding:20px;
}