.rqm-title {
	font-family:pacifico, san-serif;
	font-weight:bold;
	margin:2.5% auto;
}
#quote-container {
	margin:3%;
	height:60%;
	width:auto;
	background-color:#FFFFFF;
}
.quoteDiv {
	border-radius:15px;
	height:auto;
	max-width:500px;
	margin: 0 auto;
	padding:25px;
}
.tweetButton {
	font-size:30px;
	display:inline-block;
	padding:20px;
}
.quoteButton {
	display:inline-block;
	padding:20px;
}
.sm-links {
	font-size: 32px;
}
.fa-linkedin-square {
	color: #000000;
}
.fa-free-code-camp {
	color: #18F20C;
}
.fa-github-alt {
	color: #740CF2;
}
.quotation-icon {
	font-size:1.5em;
}